<div class="component-main">
    <h3 c>Services

    </h3>
    <!-- <div class="icons-wrp">
       
       
       
    </div> -->
    <div class="icons-wrp">
        <div class="in-wrp">
            <h5>Website</h5>
        </div>
        <div class="website-wrp overlay">
        </div>
        <div class="in-wrp">
            <h5>Web App</h5>
        </div>
        <div class="webapp-wrp overlay">
        </div>
        <div class="in-wrp">
            <h5>Desktop App</h5>
        </div>
        <div class="desktopapp-wrp overlay">
        </div>
    </div>
</div>