<div class="component-main">
    <h3>Projects</h3>
    <div class="wrp" *ngFor="let item of projects">
        <div class="header">
            {{ item.title }}
        </div>
        <div class="body" [style.backgroundImage]="'url(' + item.backgroundPath + ')'">
            <div class="github-wrapper">
                <div class="github">
                    <div class="logo">
                        <img [src]="item.githubLogo" alt="GitHub Logo" class="github-logo">
                    </div>
                    <div class="text">
                        Source Code
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>