body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: auto;
    background-color: #020409;
    color: rgba(255, 255, 255, 0.818);
}

.static-border{
    border: 2px solid #211f21;
    border-radius: 5px;
    box-sizing: border-box;
}
.component-main{
    margin: 10px;   
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}


  