.info-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;  
    border: 1px solid #616161;
    border-radius: 9999px;
    background-color: #191819;
}
.img-wrapper{
    width: auto;
    height: 30px;
    padding-bottom: 5px;
    display: flex;
}
.img-wrapper img{
    width: auto;
    height: 75%;
    object-fit: contain;
}
.center-text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
}
.pad-left{
    padding-left: 10px;
}
.pad-right{
    padding-right: 10px;
}
.pad-top{
    padding-top: 5px;
}
.pad-bottom{
    padding-bottom: 5px;
}
.font-size-small{
    font-size: 12px;
  
}